<div ng-controller="LobbyController">
    <div>
        Connected users:
        <ul>
            <li ng-repeat="connectedUser in connectedUsers">
                {{connectedUser.firstName}} {{connectedUser.lastName}}
            </li>
        </ul>
    </div>

    <div>
        Available games:
        <table>
            <tr>
                <th>Player 1 (Creator)</th>
                <th>Player 2</th>
                <th></th>
            </tr>
            <tr ng-repeat="game in activeGames">
                <td>{{game.players[0].username}}</td>
                <td></td>
                <td><button>Join</button></td>
            </tr>
        </table>
    </div>

    <button ng-click="createGame();">Create Game</button>
</div>